setuptools
geemap==0.20.5
folium==0.13.0
xyzservices==2023.5.0
python-box==7.0.1
streamlit==1.40.0
streamlit-folium==0.13.0
leafmap==0.20.0
geopandas==0.13.2
pandas==1.5.3
matplotlib==3.7.1
xlrd==2.0.1
fiona==1.9.6
openpyxl
